<div class="container">

  <div class="row">
    <input id="fileInput" type="file" accept=".txt" />
    <button type="button" class="btn btn-success btn-s" (click)="upload()">
      Upload
    </button>
  </div>
  <div class="row">

    <div class="col-6 text-center simulatorScreen" *ngFor="let user of users; let i = index">

      <nav class="navbar navbar-inverse navbarBackground">
        <div class="container">
          <div class="row navbarParentDiv">
            <div>
              <img src="../assets/empty-profile-pic.png" class="profilePic"/>
            </div>
            <span class="userName">User {{i+1}}</span>
            <div class="videoCamera">
              <i class="fa fa-video-camera whatsappFeatures" aria-hidden="true"></i>
            </div>
            <div class="phone">
              <i class="fa fa-phone whatsappFeatures" aria-hidden="true"></i>
            </div>
            <div class="options">
              <i class="fa fa-ellipsis-v whatsappFeatures" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </nav>
        
      <div class="container text-center messageScreen">    
        <div class="row">
          <div class="col">
            <div *ngFor="let subMessage of messages">
              <div class="invisibleMessageDiv text-center" style="margin-bottom:10px;">
                <div style="z-index:2;max-width:102px;border-radius:5px;box-shadow: 1px 1px;background-color:#e1f2fb;margin: 0 auto;text-align:center;color:#788a94;padding: 5px 12px 6px 12px;margin-top:6px;">
                  {{subMessage.date}}
                </div>
              </div>
              <!-- <div class="invisibleMessageDiv">
                <div class="no-image" style="width:200px;height:200px;background-color:red;">
                  <img src="../assets/no-image-available.jpg" style="max-height:100%;max-width:100%;" />
                </div>
              </div> -->
              <div class="invisibleMessageDiv" *ngFor="let message of subMessage.messages" [class.firstMessage]="message.id==i+1 || message.id==((i+1)%2+1)">
                <div class="message" [class.receivedMessage]="message.id==i+1 || message.id==-(i+1)" [class.sentMessage]="message.id==((i+1)%2+1) || message.id==-((i+1)%2+1)" [class.media-omitted-div]="message.messageString=='<Media omitted>\n'">
                  <span class="messageTriangle" *ngIf="message.id>0" [class.receivedMessageTriangle]="message.id==i+1 || message.id==-(i+1)" [class.sentMessageTriangle]="message.id==((i+1)%2+1) || message.id==-((i+1)%2+1)"></span>
                  <p *ngIf="message.messageString!=='<Media omitted>\n'">{{message.messageString}}</p>
                  <img src="../assets/no-image-available.jpg" *ngIf="message.messageString=='<Media omitted>\n'" class="no-image-style"/>
                  <span class="time" [class.receivedTime]="message.id==i+1 || message.id==-(i+1)">{{message.time}}</span>
                  <i class="fa fa-check checkMark checkMarkBlue" aria-hidden="true" *ngIf="message.id==((i+1)%2+1) || message.id==-((i+1)%2+1)"></i>
                  <!-- <i class="fa fa-clock-o checkMark" aria-hidden="true" *ngIf="message.id==((i+1)%2+1) || message.id==-((i+1)%2+1)"></i> -->
                  <i class="fa fa-check checkMark checkMarkSecond checkMarkBlue" aria-hidden="true" *ngIf="message.id==((i+1)%2+1) || message.id==-((i+1)%2+1)"></i>
                </div>
              </div>
            </div>         
          </div>
        </div>
      </div>

      <footer class="container-fluid">
        <div class="row footerRow">
          <div class="col-11">
            <div class="textAreaParentDiv">
              <div class="emoji"><i class="fa fa-smile-o" aria-hidden="true"></i></div>
              <div class="messageDiv" contenteditable="true">Type a message...</div>
              <div class="paperclip"><i class="fa fa-paperclip" aria-hidden="true"></i></div>
              <div class="camera"><i class="fa fa-camera" aria-hidden="true"></i></div>
            </div>
          </div>
          <div class="col-1">
              <i class="fa fa-microphone whatsappFeatures sendButtonIcon" aria-hidden="true"></i>
            
          </div>
        </div>
      </footer>

    </div>

  </div>
</div>