<nav class="navbar navbar-inverse navbarBackground">
    <div class="container">
      <div class="row navbarParentDiv">
        <div>
          <img src="../assets/empty-profile-pic.png" class="profilePic"/>
        </div>
        <span class="userName">User {{i+1}}</span>
        <div class="videoCamera">
          <i class="fa fa-video-camera whatsappFeatures" aria-hidden="true"></i>
        </div>
        <div class="phone">
          <i class="fa fa-phone whatsappFeatures" aria-hidden="true"></i>
        </div>
        <div class="options">
          <i class="fa fa-ellipsis-v whatsappFeatures" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </nav>